/* Snow Canvas */
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}


/* Avatar nổi phía trên lớp tuyết */
.spotlight-wrapper {
  position: relative;
  z-index: 2;
}

.circle span img {
  position: relative;
  z-index: 3;
}

/* contact */
#contact {
  position: relative;
  z-index: 2;
}
